:root {
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--saffron: #e9c46aff;
--sandy-brown: #f4a261ff;
--lemon-chiffon: #fcf6bdff;
--uranian-blue: rgb(118, 187, 222);
}
/* Font family */
body {
  font-family: 'Comfortaa', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Paytone One', sans-serif;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#food-trivia {
  font-style: italic;
}

/* Modal content */
.modal-content {
  background-color: var(--charcoal);
  color: var(--saffron);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.site-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  background-size: cover;
  background-color: var(--persian-green);
  overflow: auto;
}

header {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 60em) {
  .site-container {
      grid-template-rows: 2fr 1fr 5fr 1fr;
      background-color: var(--persian-green);
      overflow: auto;
  }
}

/* Additional styles for the navbar buttons */
.btn {
  border-radius: 14px; /* Make the buttons round */
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px; /* Add margin between the buttons */
  text-align: center; /* Center the text inside the buttons */
  text-decoration: none; /* Remove underline style from buttons */
  color: #fff; /* Set the text color to white */
  background-color: var(--persian-green);
  transition: background-color 0.7s;
}

.navbar .ul btn {
max-width: fit-content;
}


/* Change the background color on button hover */
.btn:hover {
  background-color: var(--uranian-blue);
}

.header,
.navbar,
.content,
.ingredients-list, 
.footer {
  padding: 1rem;
  border: 1px solid #ededed;
  background-color: var(--charcoal);
  color: var(--lemon-chiffon);
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.footer {
  display: flex;
  font-size: 1.6rem;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 1rem;
  justify-content: space-evenly;
  text-decoration: none;
  color: var(--lemon-chiffon); /* Set the link color to match the site theme */
}

.footer a {
  text-decoration: none;
  color: var(---lemon-chiffon); /* Set the link color to your desired color */
}

/* Make the button take up the entire width */
#beerFormBtn,
#searchBtn{
  border-radius: 14px; /* Make the buttons round */
  height: 40px;
  width: 100px;
  font-weight: bold;
  font-size: .95rem;
  text-align: center; /* Center the text inside the buttons */
  color: #fff; /* Set the text color to white */
  background-color: var(--persian-green);
  transition: background-color 0.7s;
}

.accordion-header h4 {
  font-size: 24px; /* Adjust the font size as per your preference */
  font-weight: bold; /* Optional: Add bold style if desired */
}

/* Optional: Add some spacing between the accordion headers and body */
.accordion-body {
  margin-top: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  list-style-type: none;
}


@media screen and (max-width: 60em) {
  .navbar {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .content {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .right-nav {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .ingredients-list {
      grid-row-start: 5;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .footer {
      grid-row-start: 6;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}