/* Modal container */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.holy-grail-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 60em) {
  .holy-grail-grid {
      grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  border: 1px solid #ededed;
  background-color: #ededed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.holy-grail-header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

@media screen and (max-width: 60em) {
  .holy-grail-left {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .holy-grail-middle {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

@media screen and (max-width: 60em) {
  .right-nav {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
  }
}

.holy-grail-footer {
  grid-column-start: 1;
  grid-column-end: 4;
}